@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@300&family=Permanent+Marker&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/fondo_productos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4em;
  color: navajowhite;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  border-top: #f60 5px solid;
  padding-bottom: 20px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.pro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 180px;
}

.box-int {
  width: 20%;
  height: 150px;
  border-radius: 1em;
  background-color: darkgoldenrod;
  box-shadow: 5px 5px 15px black;
}

.box-int img {
  width: 100%;
  height: 100px;
  border-radius: 1em;
  padding: 10px 10px 0 10px;
}

.box-int p {
  text-align: center;
  font-size: 1.3vh;
  opacity: 70%;
  color: navy;
  font-style: bold;
  font-family: "Permanent Marker", cursive;
}

@media screen and (min-width: 768px) {
  .pro {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    /* margin-top: 10px; */
  }

  h1 {
    font-size: 4em;

    /* border: 10px solid green; */
  }
  .box-int {
    text-decoration: none;
    width: 20%;
    height: 250px;
    border-radius: 1em;
    background-color: darkgoldenrod;
    box-shadow: 5px 5px 15px black;
    /* margin-top: 15px; */
  }

  .box-int img {
    width: 100%;
    height: 200px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .box-int p {
    text-align: center;
    font-size: 1.3vh;
    padding-top: 2%;
    opacity: 70%;
    color: navy;
    font-style: bold;
    font-family: "Permanent Marker", cursive;
  }
}
