@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@300&family=Permanent+Marker&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/fondo_services.jpg);
}

h1 {
  font-size: 3em;
  color: black;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  border-top: #f60 5px solid;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.serv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.box-int {
  width: 20%;
  height: 150px;
}

.box-int img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px black;
  border: 4px solid grey;
}

.box-int p {
  text-align: center;
  font-size: 1.3vh;
  opacity: 70%;
  color: black;
  font-style: bold;
  font-family: "Permanent Marker", cursive;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  .serv {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
  }

  h1 {
    font-size: 4em;
  }
  .box-int {
    text-decoration: none;
    width: 20%;
    height: 250px;
    margin: 2px;
  }

  .box-int img {
    width: 100%;
    height: 200px;
  }

  .box-int p {
    text-align: center;
    font-size: 1.8vh;
    padding-top: 2%;
    opacity: 70%;
    color: black;
  }
}
