*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 365px) {
  .logo img {
    width: 130px;
    height: 50px;
    border-radius: 100px;
    border: medium solid orangered;
    margin: 0 0 0 30px;
    box-shadow: 10px 10px 15px black;
    opacity: 80%;
  }

  .bordeLista {
    margin-bottom: 5%;
  }

  .logo img:hover {
    opacity: 50%;
    box-shadow: 5px 5px 15px black;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 15px 0 10px 0;
    border-top: #f60 5px solid;
    align-items: center;
  }

  .menu ul {
    display: flex;
    list-style-type: none;
    margin: 0 10px 0px 20px;
  }

  .menu li a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0px 20px;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
  }

  .menu li a:hover {
    text-decoration: none;
    opacity: 78%;
    border-bottom: orangered 4px solid;
    border-top: orangered 4px solid;
    /* color: darkorange; */
    color: black;
    opacity: 70%;
  }

  .img-principal img {
    display: block;
    width: 80%;
    height: 27em;
    margin: 0 auto;
    box-shadow: 10px 10px 15px black;
    border: 2px solid gray;
    border-radius: 1em;
  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 1em 1em 1em;
  }

  .flex-container img {
    width: 30%;
    height: 200px;
    margin-top: 1em;
    border-radius: 1em;
    border: 2px solid gray;
  }

  .flex-container p {
    text-align: center;
    align-self: center;
    margin-right: 0.1em;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    color: #f60;
    text-shadow: 5px 5px 15px #f60;
    width: 40%;
  }

  .flex-container-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 1em 2em 1em;
  }

  .flex-container-2 img {
    width: 30%;
    height: 200px;
    margin-top: 1em;
    border-radius: 1em;
    border: 2px solid gray;
  }

  .flex-container-2 p {
    text-align: center;
    align-self: center;
    margin-right: 0.1em;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    width: 40%;
    color: black;
    text-shadow: 5px 5px 15px black;
  }

  .tres {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-color: dodgerblue;
  }

  .uc-left {
    width: 25%;
    height: 300px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-left img {
    width: 100%;
    height: 225px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-left p {
    text-align: center;
    margin: 20px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.2em;
    opacity: 70%;
  }

  .uc-left a {
    color: white;
  }

  .uc-center {
    width: 25%;
    height: 300px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: red;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-center img {
    width: 100%;
    height: 225px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-center p {
    text-align: center;
    margin: 20px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.2em;
    opacity: 70%;
  }

  .uc-center a {
    color: white;
  }

  .uc-right {
    width: 25%;
    height: 300px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: darkblue;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-right img {
    width: 100%;
    height: 225px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-right p {
    text-align: center;
    margin: 20px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.2em;
    opacity: 70%;
  }

  .uc-right a {
    color: white;
  }

  .formulario {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 10px;
    margin: 0.5em;
  }

  legend {
    text-align: center;
    align-self: center;
    margin-right: 0.1em;
    font-size: 2vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    width: 40%;
    text-shadow: 5px 5px 15px black;
  }

  fieldset img {
    margin-top: 0.5em;
    width: 130px;
    height: 50px;
    border-radius: 100px;
    border: medium solid orangered;
    box-shadow: 10px 10px 15px black;
  }

  #form-cajas input {
    width: 60vw;
    height: 5vh;
    border: 1px solid rebeccapurple;
    box-shadow: 5px 5px 15px rebeccapurple;
    border-radius: 15px;
    text-align: center;
    font-size: 0.6em;
    padding: 1em;
    margin: 0.5em;
  }

  #comentarios textarea {
    width: 60vw;
    height: 25vh;
    border: 1px solid rebeccapurple;
    box-shadow: 5px 5px 15px rebeccapurple;
    border-radius: 15px;
    text-align: center;
    font-size: 0.6em;
    padding: 1em;
    margin: 0.5em;
  }

  button {
    width: 30vw;
    height: 8vh;
    background-color: green;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 15px green;
    color: whitesmoke;
    font-size: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-family: monospace;
  }

  button:active {
    width: 30vw;
    height: 8vh;
    background-color: darkgray;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 15px darkgray;
    color: green;
    font-size: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-family: monospace;
  }

  #footer h3 {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: monospace;
  }
}

@media screen and (min-width: 992px) {
  .cuatro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .tres {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-color: dodgerblue;
  }

  .uc-left {
    width: 25%;
    height: 310px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
  }

  .uc-left img {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-left p {
    text-align: center;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-left a {
    color: white;
    padding: 0;
  }

  .uc-center {
    width: 25%;
    height: 310px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: red;
    box-shadow: 5px 5px 15px black;
  }

  .uc-center img {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-center p {
    text-align: center;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-center a {
    color: white;
    padding: 0;
  }

  .uc-right {
    width: 25%;
    height: 310px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: blue;
    box-shadow: 5px 5px 15px black;
  }

  .uc-right img {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-right p {
    text-align: center;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-right a {
    color: white;
    padding: 0;
  }

  #footer h3 {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

@media screen and (min-width: 1024px) {
  .tres {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    background-color: dodgerblue;
  }

  .uc-left {
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-left img {
    width: 100%;
    height: 340px;
    border-radius: 1em;
  }

  .uc-left p {
    text-align: center;
    margin: 35px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-left a {
    color: white;
  }

  .uc-center {
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: red;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-center img {
    width: 100%;
    height: 340px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-center p {
    text-align: center;
    margin: 35px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-center a {
    color: white;
  }

  .uc-right {
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: darkblue;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .uc-right img {
    width: 100%;
    height: 340px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .uc-right p {
    text-align: center;
    margin: 35px 10px 0 10px;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.4em;
    opacity: 70%;
  }

  .uc-right a {
    color: white;
  }

  #footer h3 {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
