@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@300&family=Permanent+Marker&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 365px) {
  .logo img {
    width: 130px;
    height: 50px;
    border-radius: 100px;
    border: medium solid orangered;
    margin: 0 0 0 30px;
    box-shadow: 10px 10px 15px black;
    opacity: 80%;
  }

  .bordeLista {
    margin-bottom: 5%;
  }

  .logo img:hover {
    opacity: 50%;
    box-shadow: 5px 5px 15px black;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: fixed; */
    width: 100%;
    background-color: white;
    padding: 15px 0 10px 0;
    border-top: #f60 5px solid;
    align-items: center;
  }

  .menu ul {
    display: flex;
    list-style-type: none;
    margin: 0 10px 10px 20px;
    font-family: "Permanent Marker", cursive;
  }

  .menu li a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0px 20px;
    font-size: 1.5em;
  }

  .menu li a:hover {
    text-decoration: none;
    border-bottom: orangered 4px solid;
    border-top: orangered 4px solid;
    color: black;
    opacity: 70%;
  }

  #portada {
    display: flex;
    width: 80%;
    height: 430px;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 100px;
    box-shadow: 10px 10px 15px black;
    border-radius: 1em;
  }

  #portada .img-principal {
    box-shadow: 10px 10px 50px black;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.5s ease;
    border-radius: 5px;
  }

  #portada .img-principal:hover {
    box-shadow: 10px 15px 100px black;
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }

  .double_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    margin: 2em 1em 1em 1em;
  }

  .double_container:hover {
    background-color: whitesmoke;
    opacity: 0.9;
  }

  .double_container img {
    width: 30vw;
    height: 200px;
    margin-top: 1em;
    border-radius: 1em;
    border: 2px solid gray;
  }

  .double_container p {
    width: 35vw;
    text-align: center;
    font-size: 1em;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    color: #f60;
  }

  .double_container span {
    font-size: 1.4em;
    font-family: "Permanent Marker", cursive;
    border-bottom: double 10px #f60;
    color: black;
    letter-spacing: 1.5vw;
  }

  .double_container .cont-p {
    color: black;
  }

  .double_container .cont-span {
    color: #f60;
    border-bottom: black 10px double;
  }

  .knowledge {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-color: rgb(231, 221, 221);
  }

  .triple_container {
    width: 25%;
    height: 300px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .triple_container img {
    width: 100%;
    height: 225px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  .knowledge .triple_container p {
    text-align: center;
    margin: 20px 10px 0 10px;
    color: snow;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 5px 5px 15px black;
    font-style: italic;
    font-size: 1.2em;
    /* opacity: 70%; */
  }

  .triple_container:nth-child(2) {
    background-color: red;
  }
  .triple_container:nth-child(3) {
    background-color: blue;
  }

  .formulario {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-radius: 10px;
    margin: 0.5em;
  }

  legend {
    text-align: center;
    font-size: 2vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    width: 40%;
    text-shadow: 5px 5px 15px black;
  }

  fieldset img {
    margin-top: 0.5em;
    width: 130px;
    height: 50px;
    border-radius: 100px;
    border: medium solid orangered;
    box-shadow: 10px 10px 15px black;
  }

  #form-cajas input {
    width: 60vw;
    height: 5vh;
    border: 1px solid rebeccapurple;
    box-shadow: 5px 5px 15px rebeccapurple;
    border-radius: 15px;
    text-align: center;
    font-size: 0.6em;
    padding: 1em;
    margin: 0.5em;
  }

  #comentarios textarea {
    width: 60vw;
    height: 25vh;
    border: 1px solid rebeccapurple;
    box-shadow: 5px 5px 15px rebeccapurple;
    border-radius: 15px;
    text-align: center;
    font-size: 0.6em;
    padding: 1em;
    margin: 0.5em;
  }

  button {
    width: 30vw;
    height: 8vh;
    background-color: green;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 15px green;
    color: whitesmoke;
    font-size: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-family: monospace;
  }

  button:active {
    width: 30vw;
    height: 8vh;
    background-color: darkgray;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 15px darkgray;
    color: green;
    font-size: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-family: monospace;
  }

  #footer h3 {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: monospace;
  }
}

@media screen and (min-width: 992px) {
  .cuatro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .knowledge {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-color: dodgerblue;
  }

  .triple_container {
    width: 25%;
    height: 310px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
  }

  .triple_container img {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    padding: 10px 10px 0 10px;
  }

  #footer h3 {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

@media screen and (min-width: 1024px) {
  .knowledge {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    background-color: dodgerblue;
  }

  .triple_container {
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: green;
    box-shadow: 5px 5px 15px black;
    margin-top: 15px;
  }

  .triple_container img {
    width: 100%;
    height: 340px;
    border-radius: 1em;
  }

  #footer h3 {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
